* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: black;
    text-align: right;
}

#column_svg {
    height: 90%;
    width: 90%;
}

.align-items-center {
    width: 95vw;
    height: 90vh;
}

html {
    margin: 0px;
}

body {
   background-color: rgb(255, 255, 255);
}

.contain {
    margin: 20px;
}


h4 {
    margin: 20px auto;
}

img {
    color: black;
    width: 30px;
}

form {
    padding: 15px;
    min-height:400px ;
    border: black 1px black;
    margin-top: 40px;
    margin-left: 50px;
    box-shadow: 0px 2px 2px 4px grey;
}

.labels {
    display: flex;
    flex-direction: column;
}


h2 {
    padding: 10px;
}

h3 {
    padding: 10px;
}


#main_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}


svg {
    background-color: lightgreen;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


polygon {
    fill: 	#3d1401;
    stroke: red;
    stroke-width: 1;
    cursor: grab;
    stroke-linejoin:round;
    box-shadow: 0 2px 2px 4px green;
}


.sample_desk{
    margin:auto;
    background-color:#3d1401;
    width: 40px;
    height: 50px;
    cursor: grab;
    border: black solid 1px;
    
}


#sample_desk:active {
    cursor: grab;
}

.guid_drag {
    visibility: hidden;
    margin-top: 10px;
}

.pop {
    display: flex;
    flex-direction: column;
    align-items: center;

}


#desk {
    border: solid 3px white;
    border-radius: 25px;
}


.invisable {
    visibility: hidden;
}


.chair {
    background-color: rgb(146, 36, 36);
    height: 150px;
}


.chair_side {
    width: 50px;
    background-color: rgb(47,79,79);
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center ;
    border: 1px black solid;
}


.circle-chair {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: black solid 2px;
    background-color: yellow;
    margin-left: 9px;
}


.sample_chair {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: solid black 1px;
    margin: 20px 40px;
}


.line_button {
    width: 100px;
    height: 40px;
    
}


.line_button:hover {
    opacity: 1;
}




#vector {
   width: 100%;
}
.round {
    width: 100%;
    height: 100%;
}

.roundBottom {
    background-color: rgb(80, 184, 80);
    border-top-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.wrap_rot {
    display: flex;
    flex-direction: column;
    background-color: rgb(80, 184, 80);
    border-bottom-left-radius: 10px;
    align-items: center;
}




label {
    margin: 10px 10px;
}




#create_desk:hover {
    opacity: 1;
}

.rotate {
    height: 70px;
    width: 40px;
    margin: 10px;
}




.rot {
    color: #6e2503;
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.wrap_rot .rot {
    margin: 5px 0px;
}



.setwidth {
    box-sizing: content-box;
    height: 12%;
}

.chair_size  {
    box-sizing: content-box;
    height: 12%;
}

.desk_text_edite {
    background-color: teal;
    margin: 0px;
}


.chair_text_edite {
    background-color: teal;
    margin: 0px;
    height: 30%;
    padding-top: 5px;
}

.width_desk , .height_desk {
    box-sizing: border-box;
    border-radius: 0;
    height: 30%;
    background-color: rgb(90, 90, 209);
    display: flex;
    justify-content: center;
    align-items: center;
}

.p_on_w_h {
    color: white;
    text-align: center;
}

.svg2 {
    display: flex;
    width: 100%;
    height: 100%;
}

#btn_up , #btn_Down {
    all: unset;
    text-align:center;
    width: 50px;
    height: 50px;
    color: white;
    background-color:rgb(47,79,79);
    border-radius: 5px;
    margin: 5px;
}

#btn_up:hover{
    cursor: pointer;
    background-color:rgb(56, 94, 94) ;
}

#btn_up:active  {
    background-color: rgb(74, 126, 126);
}


.wrap_rotup {
    display: flex;
    background-color: rgb(80, 184, 80);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
}




#Delete {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

